.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.t-center {
  text-align: center;
}

.text-white {
  color: white;
}

.fs22 {
  font-size: 22px;
}

.fs32 {
  font-size: 32px;
}

.fs40 {
  font-size: 40px;
}

.uppercase {
  text-transform: uppercase;
}
