.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.t-center {
  text-align: center;
}

.text-white {
  color: white;
}

.fs22 {
  font-size: 22px;
}

.fs20 {
  font-size: 20px;
}

.fs18 {
  font-size: 18px;
}

.fs32 {
  font-size: 32px;
}

.fs40 {
  font-size: 40px;
}

.uppercase {
  text-transform: uppercase;
}

.ml-5 {
  margin-left: 5px;
}

.cp {
  cursor: pointer;
}
