<ion-header class="ion-padding ion-no-border">
  <ion-toolbar class="ion-padding">
    <form [formGroup]="formGroup">
      <ion-searchbar
        formControlName="search"
        #searchInput
        class="custom-searchbar"
      ></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    *ngIf="heroes?.length > 0"
    class="three-columns-grid ion-margin-top ion-margin-bottom"
  >
    <div
      class="flex fd-col jc-c"
      *ngFor="let heroe of heroes; let i = index"
      (click)="characterSelected(heroe)"
    >
      <img
        width="99"
        height="99"
        [alt]="heroe?.name"
        [src]="heroe?.thumbnail?.path + '.' + heroe?.thumbnail?.extension"
      />
      <div class="title t-center uppercase" [class.active]="i === 16">
        {{ heroe?.name }}
      </div>
    </div>
  </div>
  <div
    class="not-found flex fd-col jc-c ai-c"
    *ngIf="!state.loading && heroes?.length === 0"
  >
    <img src="./assets/images/hulk.svg" alt="" />
    <div class="uppercase flex jc-c ion-margin-top bold">There are no coincidences
    </div>
  </div>
  <ion-spinner *ngIf="state?.loading" color="primary"></ion-spinner>
</ion-content>
