ion-content {
  height: 100vh;
  --border-radius-top: 30px;
  overflow-y: scroll;

  /* container */
  .three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

form {
  width: 100%;
}

ion-toolbar {
  --background: white;
  --border-width: 0;
}

.not-found {
  div {
    font-size: 24px;
  }
}

.title {
  font-size: 12px;
  padding: 10px;
  min-height: 62px;
}
