.main-content,
ion-toolbar {
  --background: black;
}

ion-menu {
  ion-content {
    --background: var(--ion-color-primary);
  }
}

.hamburger {
  position: absolute;
  right: 15px;
  top: 10px;
}

.img-active {
  padding: 32px;
}

ion-modal {
  --border-radius: 30px;
  overflow-y: scroll;
}


